modules = ["web", "nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5173

[workflows]

[[workflows.workflow]]
name = "Deploy"
mode = "sequential"
author = 58938564

[[workflows.workflow.tasks]]
task = "packager.installForLanguage"
args = "nodejs"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow]]
name = "Dev"
mode = "parallel"
author = 58938564

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run watch"

[[workflows.workflow]]
name = "Local"
mode = "sequential"
author = 58938564

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
